/* =========================================
   GENERAL
========================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    color: #202b3c;

    background: #ffffff;

    direction: rtl;

    overflow-x: hidden;
}


/* =========================================
   COLORS
========================================= */

:root {

    --pink: #df3d91;

    --pink-hover: #cc2d80;

    --blue: #4288c7;

    --dark: #202b3c;

    --gray: #7d8490;

    --border: #efc8df;

}


/* =========================================
   TOP BAR
========================================= */

.top-bar {

    width: 100%;



    background: #4b3e26;

}


/* =========================================
   NAVBAR
========================================= */

.navbar {

    width: 100%;


    background: #ffffff;

    border-bottom: 1px solid #f2edf2;

    position: relative;

    z-index: 100;

}


.nav-container {

    width: min(1390px, calc(100% - 70px));

    height: 100%;

    margin: auto;

    display: flex;

    align-items: center;

    gap: 25px;

}


/* =========================================
   LOGO
========================================= */

.logo {

    width: 100px;

    display: flex;

    align-items: center;

    justify-content: center;

    flex-shrink: 0;

}


.logo img {

    width:150px;

    height: auto;

    display: block;

}


/* =========================================
   NAV LINKS
========================================= */

.nav-links {

    flex: 1;

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 40px;

}


.nav-links a {

    color: #303746;

    text-decoration: none;

    font-size:29px;

    font-weight: 700;

    white-space: nowrap;

    transition: 0.25s ease;


}


.nav-links a:hover {

    color: var(--pink);

}


.nav-links a.active {

    color: var(--pink);

}


/* =========================================
   NAV BUTTONS
========================================= */

.nav-buttons {

    display: flex;

    align-items: center;

    gap: 10px;

}


.language {

    color: #303746;

    text-decoration: none;

    font-size: 15px;

    font-weight: 600;

    margin-left: 8px;

    direction: ltr;

}


.language span {

    font-size: 13px;

}


/* =========================================
   BUTTON
========================================= */

 .btn {

    min-height: 44px;

    padding: 8px 27px;

    border-radius:20px;

    display: inline-flex;

    align-items: center;

    justify-content: center;

    text-decoration: none;

    font-size:50px;

    font-weight:800;

    white-space: nowrap;

    transition:
        transform 0.2s ease,
        background 0.2s ease,
        box-shadow 0.2s ease;

}


.btn:hover {

    transform: translateY(-2px);

}


/* Pink Button */

.btn-pink {

    background: var(--pink);

    color: #ffffff;

    box-shadow: 0 6px 18px rgba(223, 61, 145, 0.12);

}


.btn-pink:hover {

    background: var(--pink-hover);

}


/* Outline Button */

.btn-outline {

    background: #ffffff;

    color: var(--pink);

    border: 1px solid var(--border);

}


.btn-outline:hover {

    background: #fff6fa;

}


/* =========================================
   HERO
========================================= */

.hero {


max-height: 800px;
    display: flex;

    align-items: center;

    background:

        radial-gradient(
            circle at 15% 55%,
            rgba(255,255,255,0.9),
            transparent 35%
        ),

        linear-gradient(
            110deg,
            #fcf6fb 0%,
            #f7f6fd 48%,
            #eef5ff 100%
        );

}


/* =========================================
   HERO CONTAINER
========================================= */

.hero-container {

   
    width: min(1400px, calc(100% - 100px));

    margin: auto;

    padding: 75px 0 400px;

    display: grid;

    grid-template-columns:
        minmax(520px, 650px)
        minmax(430px, 1fr);

    align-items: center;

    gap: 75px;

    direction: ltr;

}


/* =========================================
   HERO IMAGE
========================================= */

.hero-image-box {

    width: 100%;

    max-width: 650px;

}


.hero-image {

    width: 100%;

    height: auto;

    display: block;

    border-radius: 15px;

    box-shadow:
        0 25px 45px rgba(48, 63, 83, 0.18);

}


/* =========================================
   HERO CONTENT
========================================= */

.hero-content {

    direction: rtl;

    text-align: right;

    max-width: 640px;

    justify-self: end;

}


.hero-content h1 {

    color: var(--dark);

    font-size: clamp(31px, 2.5vw, 42px);

    line-height: 1.45;

    font-weight: 800;

    margin-bottom: 22px;

}


.hero-content h1 span {

    display: inline;

}


.hero-content p {

    color: var(--gray);

    font-size:20px;

    line-height: 2.05;

    font-weight: 600;

    margin-bottom: 30px;

}


/* =========================================
   HERO BUTTONS
========================================= */

.hero-buttons {

    display: flex;

    align-items: center;

    justify-content: flex-start;

    gap: 13px;

}


.hero-buttons .btn {

    min-width: 205px;
    font-size: 20px;

}


/* =========================================
   MOBILE BUTTON
========================================= */

.mobile-menu-btn {

    display: none;

    border: none;

    background: transparent;

    color: #333;

    font-size: 28px;

    cursor: pointer;

}


/* =========================================
   TABLET
========================================= */

@media (max-width: 1200px) {

    .nav-links {

        gap: 22px;

    }


    .nav-buttons .btn {

        padding-left: 18px;

        padding-right: 18px;

    }


    .hero-container {

        gap: 45px;

        grid-template-columns:
            minmax(450px, 1fr)
            minmax(400px, 1fr);

    }

}


/* =========================================
   SMALL LAPTOP / TABLET
========================================= */

@media (max-width: 1000px) {

    .navbar {

        height: 75px;

    }


    .nav-container {

        width: calc(100% - 35px);

    }


    .nav-links,
    .nav-buttons {

        display: none;

    }


    .mobile-menu-btn {

        display: block;

        margin-right: auto;

    }


    .hero {

        min-height: auto;

    }


    .hero-container {

        width: min(720px, calc(100% - 40px));

        grid-template-columns: 1fr;

        padding: 55px 0 70px;

        gap: 45px;

    }


    .hero-image-box {

        max-width: 650px;

        margin: auto;

    }


    .hero-content {

        max-width: 650px;

        justify-self: center;

        text-align: center;

    }


    .hero-buttons {

        justify-content: center;

    }

}


/* =========================================
   MOBILE
========================================= */

@media (max-width: 600px) {

    .top-bar {

        height: 30px;

    }


    .navbar {

        height: 68px;

    }


    .nav-container {

        width: calc(100% - 28px);

    }


    .logo img {

        width: 82px;

    }


    .hero-container {

        width: calc(100% - 28px);

        padding: 35px 0 55px;

        gap: 32px;

    }


    .hero-image {

        border-radius: 11px;

    }


    .hero-content h1 {

        font-size: 27px;

        line-height: 1.55;

        margin-bottom: 17px;

    }
       .hero-content h1 img {

        font-size: 10px;


    }


    .hero-content p {

        font-size: 14px;

        line-height: 2;

        margin-bottom: 25px;

    }


    .hero-buttons {

        width: 100%;

        flex-direction: column;

        gap: 10px;

    }


    .hero-buttons .btn {

        width: 100%;

        min-width: 0;
        font-size: 18px;
         font-weight: 700;

    }

}


/* =========================================
   EXTRA SMALL MOBILE
========================================= */

@media (max-width: 380px) {

    .hero-content h1 {

        font-size: 24px;

    }


    .hero-content p {

        font-size: 13px;

    }

}

/* =========================================
   WHY ALFA SECTION
========================================= */

.why-alfa {

    width: 100%;



    background:
        linear-gradient(
            110deg,
            #fcf8fc 0%,
            #f8f8fd 50%,
            #f4f8fd 100%
        );

}


/* =========================================
   CONTAINER
========================================= */

.why-container {

    width: min(1210px, calc(100% - 50px));

    margin: auto;

}


/* =========================================
   SECTION HEADING
========================================= */

.section-heading {

    text-align: center;

    max-width: 850px;

    margin: 0 auto 58px;

}


.section-heading h2 {

    color: #202b3c;

    font-size:60px;

    line-height: 1.5;

    font-weight: 600;

    margin-bottom: 8px;
    padding-top: 70px;

}


.section-heading p {

    color: #727b89;

    font-size:30px;

    font-weight: 500;

    line-height: 1.9;

    margin: 0 auto;

}


/* =========================================
   GRID
========================================= */

.why-grid {

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 28px 30px;

}


/* =========================================
   CARD
========================================= */

.why-card {

    min-height: 225px;

    background: #ffffff;

    border: 1px solid #f1dce9;

    border-radius: 14px;

    padding: 40px 55px 35px;

    text-align: center;

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: flex-start;

    box-shadow:
        0 3px 12px rgba(31, 43, 60, 0.04);

    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease,
        border-color 0.3s ease;

}


/* Hover */

.why-card:hover {

    transform: translateY(-5px);

    border-color: #edb7d5;

    box-shadow:
        0 12px 30px rgba(223, 61, 145, 0.09);

}


/* =========================================
   ICON
========================================= */

.why-icon {

    width: 50px;

    height: 50px;

    margin-bottom: 12px;

    display: flex;

    align-items: center;

    justify-content: center;

    color: #df3d91;

}


/* =========================================
   ICONS
========================================= */

/*
   بنعمل الأيقونات بالـCSS
   عشان مش محتاجين أي مكتبة خارجية
*/


/* Clock */

.icon-clock {

    width: 39px;

    height: 39px;

    border: 4px solid #df3d91;

    border-radius: 50%;

    position: relative;

    display: block;

}


.icon-clock::before {

    content: "";

    position: absolute;

    width: 3px;

    height: 13px;

    background: #df3d91;

    border-radius: 3px;

    top: 6px;

    left: 15px;

}


.icon-clock::after {

    content: "";

    position: absolute;

    width: 11px;

    height: 3px;

    background: #df3d91;

    border-radius: 3px;

    top: 18px;

    left: 15px;

    transform: rotate(30deg);

    transform-origin: left center;

}


/* Shield */

.icon-shield {

    width: 35px;

    height: 39px;

    border: 4px solid #df3d91;

    border-radius: 7px 7px 14px 14px;

    position: relative;

    display: block;

    clip-path: polygon(
        50% 0,
        95% 15%,
        95% 55%,
        80% 78%,
        50% 100%,
        20% 78%,
        5% 55%,
        5% 15%
    );

}


/* Check */

.icon-check {

    width: 40px;

    height: 40px;

    border: 4px solid #df3d91;

    border-radius: 50%;

    position: relative;

    display: block;

}


.icon-check::before {

    content: "";

    position: absolute;

    width: 19px;

    height: 9px;

    border-left: 4px solid #df3d91;

    border-bottom: 4px solid #df3d91;

    transform: rotate(-45deg);

    top: 10px;

    left: 8px;

}


/* Heart */

.icon-heart {

    width: 31px;

    height: 31px;

    position: relative;

    display: block;

    transform: rotate(-45deg);

    border-left: 4px solid #df3d91;

    border-bottom: 4px solid #df3d91;

    border-radius: 0 0 0 5px;

}


.icon-heart::before {

    content: "";

    position: absolute;

    width: 30px;

    height: 18px;

    border: 4px solid #df3d91;

    border-bottom: none;

    border-radius: 20px 20px 0 0;

    top: -18px;

    left: -4px;

}


.icon-heart::after {

    content: "";

    position: absolute;

    width: 18px;

    height: 30px;

    border: 4px solid #df3d91;

    border-left: none;

    border-radius: 0 20px 20px 0;

    top: -4px;

    right: -18px;

}


/* =========================================
   CARD TEXT
========================================= */

.why-card h3 {

    color: #202b3c;

    font-size: 25px;

    font-weight: 800;

    line-height: 1.6;

    margin-bottom: 7px;

}


.why-card p {

    color: #777f8c;

    font-size: 20px;

    line-height: 1.9;

    font-weight: 600;

    max-width: 530px;

    margin: 0;

}
 

/* =========================================
   TABLET
========================================= */

@media (max-width: 900px) {

    .why-alfa {

        padding: 60px 0 100px;

    }


    .why-container {

        width: calc(100% - 35px);

    }


    .section-heading {

        margin-bottom: 40px;

    }


    .section-heading h2 {

        font-size: 30px;

    }


    .section-heading p {

        font-size: 15px;

    }


    .why-grid {

        gap: 20px;

    }


    .why-card {

        padding: 32px 25px;

    }

}


/* =========================================
   MOBILE
========================================= */

@media (max-width: 650px) {

    .why-alfa {

        padding: 50px 0 60px;

    }


    .why-container {

        width: calc(100% - 28px);

    }


    .section-heading {

        margin-bottom: 30px;

    }


    .section-heading h2 {

        font-size: 35px;

        margin-bottom: 7px;

    }


    .section-heading p {

        font-size: 20px;

        line-height: 2;

    }


    .why-grid {

        grid-template-columns: 1fr;

        gap: 16px;

    }


    .why-card {

        min-height: 205px;

        padding: 30px 22px;

        border-radius: 12px;

    }


    .why-card h3 {

        font-size:25px;

    }


    .why-card p {

        font-size: 20px;

        line-height: 1.9;

    }

}

/* =========================
   Booking Section
========================= */

.booking-section {
    min-height: 468px;

    background: linear-gradient(
        110deg,
        #f8e9f3 0%,
        #f0e9f5 45%,
        #e5edfc 100%
    );

    padding: 65px 20px 76px;
}

.booking-container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}


/* Main Title */

.booking-container h1 {
    font-size: 32px;
    font-weight: 800;
    color: #172334;
    margin-bottom: 5px;
}


/* Subtitle */

.subtitle {
    font-size: 15px;
    font-weight: 500;
    color: #637086;
    margin-bottom: 28px;
}


/* =========================
   Cards
========================= */

.cards {
    display: flex;
    justify-content: center;
    gap: 22px;

    max-width: 765px;
    margin: 0 auto;
}


.booking-card {
    width: 370px;
    min-height: 211px;

    background: #ffffff;

    border-radius: 15px;

    padding: 27px 30px 30px;

    box-shadow: 0 8px 18px rgba(32, 43, 61, 0.14);

    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Card Title */

.booking-card h2 {
    font-size: 23px;
    font-weight: 700;
    color: #182231;

    margin-bottom: 10px;
}


/* Card Description */

.booking-card p {
    width: 100%;

    font-size: 14px;
    line-height: 1.8;

    color: #657083;

    margin-bottom: 18px;
}


/* =========================
   Buttons
========================= */

.btn {
    width: 100%;
    height: 35px;

    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    font-family: "Cairo", sans-serif;
    font-size: 13px;
    font-weight: 700;

    transition: 0.25s ease;
}


/* Pink Button */

.btn-primary {
    background: #df3c91;
    color: #ffffff;
}

.btn-primary:hover {
    background: #c92d7d;
}


/* Outline Button */

.btn-outline {
    background: #ffffff;

    color: #df3c91;

    border: 1px solid #edb9d6;
}

.btn-outline:hover {
    background: #fff1f8;
}


/* =========================
   Footer
========================= */

.footer {
    background: #202b3b;
    color: #ffffff;

    padding: 48px 20px 22px;
}


.footer-container {
    max-width: 1230px;
    margin: 0 auto;

    display: grid;

    grid-template-columns:
        1.2fr
        1fr
        1fr
        1.2fr;

    gap: 70px;

    direction: rtl;
}


/* =========================
   Footer Columns
========================= */

.footer-column {
    text-align: right;
}


.footer-column h3 {
    font-size: 25px;
    font-weight: 700;

    margin-bottom: 17px;

    color: #ffffff;
}


.footer-column p {
    color: #aeb8c7;

    font-size: 20px;
    line-height: 2;

    max-width: 270px;
}


/* =========================
   Footer Links
========================= */

.footer-column ul {
    list-style: none;
}


.footer-column ul li {
    margin-bottom: 7px;
}


.footer-column ul li a {
    text-decoration: none;

    color: #aeb8c7;

    font-size: 20px;

    transition: 0.2s ease;
}


.footer-column ul li a:hover {
    color: #ffffff;
}


/* =========================
   Logo
========================= */

.logo {
    font-size: 38px;
    font-weight: 800;

    color: #4387d5;

    margin-bottom: 8px;
}


/* =========================
   Footer Bottom
========================= */

.footer-bottom {
    max-width: 1230px;

    margin: 30px auto 0;

    padding-top: 25px;

    border-top: 1px solid rgba(255, 255, 255, 0.1);

    text-align: center;
}


.footer-bottom p {
    color: #aeb8c7;

    font-size:25px;
}


/* =========================
   Responsive
========================= */

@media (max-width: 800px) {

    .booking-section {
        padding-top: 50px;
        padding-bottom: 55px;
    }

    .booking-container h1 {
        font-size: 27px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .booking-card {
        width: 100%;
        max-width: 370px;
    }


    .footer-container {
        grid-template-columns: 1fr 1fr;

        gap: 40px;
    }
}


@media (max-width: 500px) {

    .booking-section {
        padding: 45px 15px 50px;
    }

    .booking-container h1 {
        font-size: 24px;
    }

    .subtitle {
        font-size: 16px;
    }

    .cards {
        gap: 18px;
    }

    .booking-card {
        padding: 25px 22px;
    }


    .footer {
        padding-top: 40px;
    }

    .footer-container {
        grid-template-columns: 1fr;

        gap: 30px;
    }

 

    .footer-column p {
      font-size: 20px;
    }

    .footer-bottom {
        margin-top: 10px;
    }
      .footer-bottom p {
        margin-bottom: 20px;
        font-size: 16px;
    }
}